Medical Assistant.json
{
  "name": "Medical Assistant",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi there! 👋\nI am MediMind: Your friendly AI health companion.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "f95ae92b-5a8e-479a-aa90-2831702fc28b",
      "name": "When chat message received",
      "webhookId": "0f4dc6cb-50da-4f14-a478-4ada068d03b7"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a professional and reliable AI Medical Assistant. Your goal is to help users by answering their health-related questions clearly, accurately, and only based on information available in the connected medical knowledge base or tools.\n\nYour behavior should follow these principles:\n- Only use the tools and data provided to you. Do not make assumptions or hallucinate information.\n- If the required information is not available, respond with: \"I'm sorry, I couldn't find information related to that in the database.\"\n- Provide concise, understandable explanations. Use layman’s terms unless the user explicitly requests technical details.\n- When appropriate, include a brief note suggesting the user consult a licensed physician for serious concerns.\nOutput format:\n- Write as if you are directly speaking to a patient with empathy and clarity.\n- Avoid overly technical language unless requested.\n- Do not guess or provide speculative advice. \nOnly respond based on facts from the connected data sources or tools."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        260,
        20
      ],
      "id": "d76e5bfe-268c-44c3-b2d9-6b26f45d2cf6",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "mistralai/mixtral-8x7b-instruct",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        160,
        240
      ],
      "id": "b5bce1c3-c4f9-4f80-8574-fa0619551925",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "8aurF7IIyRC7ysf8",
          "name": "OpenRouter account main gmail"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        360,
        240
      ],
      "id": "215f8c89-87f4-43f0-a209-66c020c8818c",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n"
        },
        "options": {
          "pineconeNamespace": "PDF"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.1,
      "position": [
        280,
        440
      ],
      "id": "93acec29-a0df-4245-bae7-e6e74405de31",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "kg7PaA47DjKkXGBk",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "mistralai/mixtral-8x7b-instruct",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        660,
        460
      ],
      "id": "9c76549b-90c0-4873-8604-541c2c867fd2",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "8aurF7IIyRC7ysf8",
          "name": "OpenRouter account main gmail"
        }
      }
    },
    {
      "parameters": {
        "modelName": "BAAI/bge-large-en-v1.5",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference",
      "typeVersion": 1,
      "position": [
        120,
        600
      ],
      "id": "08192f64-e34b-4f73-94f6-1b54b164ca25",
      "name": "Embeddings HuggingFace Inference",
      "credentials": {
        "huggingFaceApi": {
          "id": "q3MXU8ZsePQliGhk",
          "name": "HuggingFaceApi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        520,
        240
      ],
      "id": "bbd82fad-8cfb-41a6-b17f-2a0302eadb8d",
      "name": "Database"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "19KjnlhLO72Rw3abJu5PP3-AYWX7YzA7b",
          "mode": "list",
          "cachedResultName": "Medical PDF",
          "cachedResultUrl": "https://drive.google.com/drive/folders/19KjnlhLO72Rw3abJu5PP3-AYWX7YzA7b"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -220,
        760
      ],
      "id": "0ffcd215-1be3-4a82-bcb1-2fc2fcc0d88c",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "I6LYXcviGlWssmOP",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        0,
        760
      ],
      "id": "175cc3af-38d1-4cf0-bb47-7051da7ab3b1",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "I6LYXcviGlWssmOP",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file",
                "value": "={{ $json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        300,
        980
      ],
      "id": "cfd834c9-3864-48e1-9278-be3228e2bcec",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 100,
        "chunkOverlap": 10,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        400,
        1200
      ],
      "id": "cc743536-86f4-40bd-af5f-4c4b039ac619",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        100,
        1020
      ],
      "id": "74f5c44d-71f3-4eaa-b43d-a1dbba89c13a",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "N5pb7CFcramUps0R",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n"
        },
        "embeddingBatchSize": 100,
        "options": {
          "pineconeNamespace": "PDF"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.1,
      "position": [
        220,
        760
      ],
      "id": "37be1701-aca8-4f2e-ba07-6adc5bac47fe",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "kg7PaA47DjKkXGBk",
          "name": "PineconeApi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Database",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Database",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings HuggingFace Inference": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Database": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "997f7e54-7f37-4aac-a0e9-ec61cef0a5f3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1cc8c5b65867f159b3caf1d8791b524dd9a10a844465ec67e967accd8c2ba955"
  },
  "id": "iKtDtjT0h54oZtGZ",
  "tags": []
}