RAG_Medical.json
{
  "name": "RAG Medical",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "19KjnlhLO72Rw3abJu5PP3-AYWX7YzA7b",
          "mode": "list",
          "cachedResultName": "Medical PDF",
          "cachedResultUrl": "https://drive.google.com/drive/folders/19KjnlhLO72Rw3abJu5PP3-AYWX7YzA7b"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "9cbbf4f3-75b4-4386-82be-effd851a10b3",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "zqgwLSLoceJ1EsOT",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        220,
        0
      ],
      "id": "5093e12a-9266-4390-8ace-b79fac56a52d",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "zqgwLSLoceJ1EsOT",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n"
        },
        "embeddingBatchSize": 100,
        "options": {
          "pineconeNamespace": "PDF"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.1,
      "position": [
        440,
        0
      ],
      "id": "51a69dcb-759a-4967-b688-6b88c89e2591",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "U38sv9KGFhhCR0tW",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "BAAI/bge-large-en-v1.5",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference",
      "typeVersion": 1,
      "position": [
        340,
        220
      ],
      "id": "f7710ea3-1ebd-4f64-addb-af76f1a8c308",
      "name": "Embeddings HuggingFace Inference",
      "credentials": {
        "huggingFaceApi": {
          "id": "ePfn0IHtOAO5Qefy",
          "name": "HuggingFaceApi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file",
                "value": "={{ $json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        520,
        220
      ],
      "id": "855de623-14cd-4e9d-80d3-38b688d08b78",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 100,
        "chunkOverlap": 10,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        620,
        440
      ],
      "id": "01977550-8a0c-4af5-bde6-05e467e8f870",
      "name": "Recursive Character Text Splitter"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings HuggingFace Inference": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c1129f8f-6bac-4202-84a4-d70ae090add0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "867b89e69e189b2835217bf9fb1e526a1020aa7ae8eb83083d9fa76fb8ff8c8e"
  },
  "id": "eWrDFVfHXmaRm7Ij",
  "tags": []
}